<!doctype html>
<html lang="en">
    {% load crispy_forms_tags %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset Done</title>
</head>
<body>
    <div class="container">
        <div class="row">
             <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <h2 class="fs-2 fw-bolder "> Password Reset Link Sent</h2>
                <hr>
                <p class="text-center fw-normal"> We've emailed you instructions for setting your password,
                    if an account exists with the email you entered. You should receive them shortly.
                    <br>
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                </p>
             </div>
        </div>
    </div>
</body>
</html>