<!doctype html>
<html lang="en">
    {% load crispy_forms_tags %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset</title>
</head>
<body>
    <div  class="container">
         {% if messages %}
            <!--suppress GrazieInspection -->
        <ul class="messages">
                {% for message in messages %}
                {% if message.tags %}
                <li class="{{ message.tags }}">
                {{ message }}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <h2> Password Reset </h2>

                <form action="password_reset" method="POST">
                    {% csrf_token%}

                     <hr class="colorgraph">
                    <span class="help-block">
                        <p class="fs-2">
                        Kindly enter the email address you use to log in to your account
                        <br>
                        We'll email you with instructions to choose a new password.
                        </p>
                      </span>


                    {{ form.email|as_crispy_field }}

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <a href="password_reset_done"></a>
                            <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
                                Continue
                            </button>
                            </a>
                        </div>
                    </div>
                    <hr class="colorgraph">
                </form>
            </div>
        </div>
    </div>

</body>
</html>