<!DOCTYPE html>
<html lang="en">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <div  class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <h2> Change Password </h2>

                <form action="forgot_password" method="post">
                    {% csrf_token %}

                    <span class="help-block">
                        Kindly enter your new password
                    </span>

                    <hr class="colorgraph">

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input minlength="8" type="password" name="password" id="password" class="form-control input-lg" placeholder="New Password">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input minlength="8" type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm New Password">
                            </div>
                        </div>

                        <input type="hidden" name="user_id" value="{{user_id}}">

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                                <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
                                    Continue
                                  </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>