<!DOCTYPE html>
<html lang="en">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <div  class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <h2> Forgot your password? </h2>

                <form action="forgot_password" method="post">
                    {% csrf_token %}

                    {% if messages %}

                    {% for message in messages %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <span class="help-block">
                        Kindly enter the username you use to log in to your account
                        <br>
                        We'll send you an email with instructions to choose a new password.
                      </span>

                    <hr class="colorgraph">

                    <div class="form-group">
                        <input type="text" name="username" id="username" class="form-control input-lg" placeholder="Username">
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            
                                <a href="forgot_password/"></a><button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
                                    Continue
                                  </button>
                                </a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>