<!DOCTYPE html>
<html lang="en">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>

    <div class="container">

         {% if messages %}
            <!--suppress GrazieInspection -->
        <ul class="messages">
                {% for message in messages %}
                {% if message.tags %}
                <li class="{{ message.tags }}">
                {{ message }}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form action="signup" method="post" >

                    {% csrf_token %}

                    <h2>Sign Up </h2>
                    <hr class="colorgraph">
                        {{ form }}

                    <div class="row">
                        <div class="col-xs-8 col-sm-9 col-md-9">
                             By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
                        </div>
                    </div>

                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                                <button type="submit" class="btn btn-primary btn-block btn-lg" > Register </button>
                        </div>
                        <div class="col-xs-12 col-md-6"><a href="signin" class="btn btn-success btn-block btn-lg">Sign In</a></div>
                    </div>

                     <hr class="colorgraph">

                       <div class="row">
                            <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
                                    Sign Up With Google
                            </a>

                            <a class="btn btn-secondary" href="{% url 'social:begin' 'linkedin-oauth2' %}">
                                    Sign Up With Linkedin
                            </a>
                       </div>


                </form>
            </div>
        </div>

</body>
</html>